<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Devailton Silveira">
        <meta name="description" content="Teste para empresa Mereo">
        <meta name="keywords" content="teste, frontend, mereo, desenvolvimento, angular">

        <!-- ***** CSS ***** -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        
        <!-- ***** SCRIPTS ***** -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>Projeto Mereo</title>

    </head>

    <body>
        
        <!-- ***** HEADER PRINCIPAL ***** -->
        <header class="header_area animated">

            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">

                            <div class="area-logo">
                                <a href="#" title="Mereo" class="navbar-brand"><img src="assets/logo.png" alt="Mereo" width="200"></a>
                                <a href="#" title="Menu" class="menu-responsive"><i class="fa fa-bars fa-2x fa-pull-left" aria-hidden="true"></i></a>
                            </div>

                            <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a class="nav-link" href="#home"><i class="fa fa-bell fa-2x fa-pull-left"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href="#software"><i class="fa fa-question-circle-o fa-2x fa-pull-left"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href="#funcionalidades"><i class="fa fa-cog fa-2x fa-pull-left"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href="#telas"><i class="fa fa-user-circle fa-2x fa-pull-left"></i></a></li>
                                </ul>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>

        </header>
        <!-- ***** HEADER PRINCIPAL FIM ***** -->

        <router-outlet></router-outlet>

    </body>

</html>