<!-- ***** EVENTOS ***** -->
<section class="area-eventos division-section" >

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Meus eventos</h2>
                    <button type="button" class="btn btn-primary float-right" name="btnNovoEvento" routerLink="/evento">Novo evento</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-img">
                         <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-icon">
                        <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-icon">
                        <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container padding-top">

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-img">
                         <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-icon">
                        <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="box-evento">
                    <div class="single-icon">
                        <a href="#" title="Evento"><img src="assets/evento.png" alt="Evento"></a>
                    </div>
                    <div class="info-evento">
                        <div class="info-date">
                            <p>4 Out</p>
                            <p>13:30</p>
                        </div>
                        <div class="info-title">
                            <p>Product Growth: como rodar experimentos</p>
                        </div>
                        <div class="info-local">
                            <p><i class="fa fa fa-map-marker fa-fw"></i> Mereo - Belo Horizonte, MG</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ***** EVENTOS FIM ***** -->